<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <h1>Shop</h1>
    {%if not user.is_anonymous%}
    <p>Logined as {{user}} <a href="/logout">Logout</a></p>
    {%endif%}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'register' %}">Registration</a>
    <a href="/login?next={{request.path}}">Login</a>
    {%block content%}
    <ul>
    {%for good in goods%}
        <li><a href="/goods/detail/{{good.slug}}">{{good.name}}</a>
            <p>{{good.description}}</p>
            <p>{{good.price}}</p>
        </li>
    {%endfor%}
    </ul>
    {{a}}
    {%endblock%}
</body>
</html>